@{
    ViewBag.Title = "Home Page";
}
<div ng-app="GoogleMaps">
    <div ng-controller="mapController">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>
    <div class="jumbotron">
        <br />
        <br />
        <input type="text" placeholder="Search Student" ng-model="searchStudent" />
        <br />
        <div ng-controller="GoogleMapsController">
            <table class="table">
                <tr ng-repeat="r in location | filter : searchStudent">
                    <td>{{r.lat}}</td>
                    <td>{{r.lon}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div ng-controller="MapCtrl">
            <div id="map"></div>
            <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
                <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
                    <label id="names">{{marker.title}}</label>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@*<div id="map"style="width:400px;height:300px"></div>*@



@section scripts{
    @*<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCjDbHNPi1x0UvZZc_FiZMra9Q8wQWjsZ4"></script>*@
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="http://rawgit.com/nmccready/angular-simple-logger/master/dist/angular-simple-logger.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/getlocationController.js"></script>
    <script src="~/App/uiGoogleMapsController.js"></script>
    <script src="~/App/pureAngularGoogleMapsController.js"></script>
}
